<br/>
<% if user_signed_in? %><span class="button" style="position: relative;left:1285px"><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', style: "text-decoration: none;color: black" %></span><% end %>

<%= render 'layouts/messages' %>
<%= yield %>